AWS_ACCESS_KEY_ID=youraccesskeyid
AWS_SECRET_ACCESS_KEY=yoursecretaccesskey
AWS_BUCKET_NAME=yourbucketname
AWS_REGION=yourregion
AWS_LOG_PREFIX=yourlogprefix

DB_HOST=yourdbhost
DB_USER=yourdbuser
DB_PASS=yourdbpassword
DB_NAME=yourdbname
DB_PORT=yourdbport

